.list-container {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

@media (min-width: 700px) {
    .list-container {
        width: 80%;
    }
}

.color-container {
    column-gap: 1em;
}

.card {
    break-inside: avoid;
    margin-bottom: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px black;
}

@media (min-width: 576px) {
    .color-container {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .color-container {
        column-count: 4;
    }
}

@media (min-width: 992px) {
    .color-container {
        column-count: 6;
    }
}

@media (min-width: 1200px) {
    .color-container {
        column-count: 8;
    }
} 